# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=db.cjnlaysksvdbgodltxqm.supabase.co
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=CDub9tFa7KzqZD8r
DB_NAME=postgres

# Supabase
SUPABASE_URL=your-supabase-url
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
